@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1700463978372') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6b8";
}

.icon-fenlei:before {
  content: "\e600";
}

.icon-weibiaoti1:before {
  content: "\e60a";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-guidang:before {
  content: "\e619";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-pengyou:before {
  content: "\e61a";
}

.icon-shangchuantupian:before {
  content: "\e6e9";
}

.icon-zhuxiao:before {
  content: "\e609";
}

.icon-guanyu:before {
  content: "\e60c";
}

.icon-xiugaimima:before {
  content: "\e635";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

.icon-gerenxinxi1:before {
  content: "\e613";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-gerenzhongxin:before {
  content: "\e61b";
}

.icon-caidan1:before {
  content: "\e64f";
}

.icon-zhanghu:before {
  content: "\e601";
}

.icon-mima:before {
  content: "\e61c";
}

.icon-24gl-paperPlane:before {
  content: "\e94b";
}

.icon-Star-Night:before {
  content: "\e8a8";
}

.icon-zhongyingwen:before {
  content: "\e631";
}

.icon-zhongyingwen2zhongwen:before {
  content: "\e645";
}

.icon-tianqitaiyangqichuang:before {
  content: "\e712";
}

.icon-jiantoucu:before {
  content: "\e602";
}

